<div th:fragment="form-eleve" class="professeur" id="form-eleve" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="add-form-top">
        <span class="closemodal" onclick="showSection(event, 'page-eleve')">< Retour</span>
        <h2>Ajouter un Eleve</h2>
    </div>
    <form th:action="@{/students}" th:object="${student}" method="post" class="form-add">
        <div class="form-container">
            <div class="left-form">
                <label for="name">Nom</label>
                <input th:field="*{lastName}"name="name" type="text" id="name" placeholder="Entrez le nom">

                <label for="firstname">Prénom</label>
                <input th:field="*{firstName}"name="firstname" type="text" id="firstname" placeholder="Entrez le prénom">

                <div class="radio-group">
                    <label id="genre">Genre</label>
                    <select name="genre" id="" class="form-control" th:field="*{gender}">
                        <option
                                    th:each="enumGenre : ${genres}"
                                    th:value="${enumGenre.name()}"
                                    th:text="${enumGenre.name()}"
                        ></option>
                        </select>
                </div>

                <label for="matricule">Matricule</label>
                <input th:field="*{matricule}"name="matricule" type="text" id="matricule" placeholder="Entrez le matricule">

            </div>

            <div class="right-form">


                 <label for="tel">Numéro de téléphone</label>
                 <input th:field="*{phoneNumber}"type="tel" name="tel" id="tel" placeholder="Entrez le numéro de téléphone">

                 <label for="date">Date de naissance</label>
                <input th:field="*{birthday}" type="date" name="date" id="date">

                <label for="date">Numéro du parent</label>
                <input th:field="*{phoneNumberFather}" type="tel" name="phoneNumberFather" id="phoneNumberFather">
             </div>
         </div>

         <div class="form-buttons">
             <button class="btn save" type="submit">Enregistrer</button>
         </div>
     </form>
     <p id="post-message" th:if="${message}" th:text="${message}"></p>
 </div>
