<div th:fragment="form-user" class="professeur" id="form-user" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="add-form-top">
        <span class="closemodal" onclick="showSection(event, 'page-utilisateur')">< Retour</span>
        <h2>Ajouter un Utilisateur</h2>
    </div>
    <form th:action="@{/users}" th:object="${user}" method="post" class="form-add">
        <div class="form-container">
            <div class="flex-column items-center">
                <label for="pseudo">Pseudo</label>
                <input th:field="*{pseudo}" type="text" id="pseudo" placeholder="Entrez le nouveau pseudo">

                <label for="password">Mot de passe</label>
                <input th:field="*{password}" type="password" id="password" placeholder="******">
                <label for="password">Confirmez le mot de passe</label>
                <input th:field="*{password}" type="password" id="password-confirm" placeholder="******">
            </div>
        </div>
        <div class="form-buttons">
            <button class="btn cancel" type="button" onclick="showSection(event, 'form-user')">Annuler</button>
            <button class="btn save" type="submit">Enregistrer</button>
        </div>
    </form>
</div>
