<div th:fragment="utilisateurs-content" class="utilisateur" id="page-utilisateur"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="board-top">
        <h1>Utilisateurs <span>(<span th:text="${userCount}"></span>)</span></h1>
        <a class="modal-open" href="#form-user" onclick="showSection(event, 'form-user')">
            <span class="plus">+</span>Nouvel utilisateur
        </a>
    </div>
    <div class="search-bar">
        <input type="text" name="" id="">
        <img th:src="@{images/search.png}" alt="" class="btn-search">
    </div>
    <div class="tableau">
        <div class="title row">
            <p>Pseudo</p>
            <p>Date de création</p>
            <p>Actions</p>
        </div>
        <div th:each="user : ${users}" class="row">
            <p th:text="${user.pseudo}"></p>
            <p th:text="${user.creationDate}"></p>
            <button type="button" th:onclick="'openModifyUser('+ ${user.id} +')'">Modifier</button>
            <button id="onOffUser" type="button" th:onclick="'desactivateUser(' + ${user.id} + ')'">Désactiver</button>
        </div>
    </div>


</div>