<div th:fragment="professeurs-content" class="professeur" id="page-professeur"
     xmlns:th="http://www.w3.org/1999/xhtml"
>
    <div class="board-top">
        <h1>Professeurs <span>(<span th:text="${teacherCount}"></span>)</span></h1>
        <a class="modal-open" href="#form-professeur" onclick="showSection(event, 'form-professeur')">
            <span class="plus">+</span>Nouveau Professeur
        </a>
    </div>
    <form method="get" th:action="@{/teachers/search}" class="search-bar">
        <input class="form-control me-2 w-100" th:value="${query}" name="query" type="search" placeholder="RECHERCHE : (NOM , GENRE , MATRICULE)" aria-label="Search">
        <select name="gender"  class="form-control" th:value="${gender}">
            <option value="MAN" th:if="${gender == 'MAN'} ? 'selected':''">HOMME</option>
            <option value="WOMAN" th:if="${gender == 'WOMAN'} ? 'selected':''">FEMME</option>
        </select>
        <button type="submit"><img th:src="@{images/search.png}" alt="" class="btn-search"></button>
    </form>
    <div class="tableau">
        <div class="title row">
            <p>Nom</p>
            <p>Prénom</p>
            <p>Matière</p>
            <p>Vacant</p>
            <p>Âge</p>
            <p>Téléphone</p>
            <p class="action">Actions</p>
        </div>
        <div th:each="teacher : ${teachers}" class="row">
            <p th:text="${teacher.lastName}"></p>
            <p th:text="${teacher.firstName}"></p>
            <p th:text="${teacher.speciality}"></p>
            <p th:text="${teacher.available} ? 'Oui' : 'Non'"></p>
            <p th:text="${teacher.birthday}"></p>
            <p th:text="${teacher.phoneNumber}"></p>
            <button type="button" th:onclick="'openModifyTeacher(' + ${teacher.id} + ')'">Modifier</button>
            <button type="button" th:onclick="'openDeleteTeacher(' + ${teacher.id} + ')'">Supprimer</button>
        </div>

        <div class="delete-modal">
            <div class="delete-modal-content">
                <h2>Attention!!!</h2>
                <p>Voulez-vous vraiment supprimer cet élève</p>
                <div class="flex">
                    <button class="modal-btn-delete non" type="button" onclick="closedelete()">Non</button>
                    <button class="modal-btn-delete oui" type="button" onclick="closedelete()">Oui</button>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/js.js}"></script>
</div>


